h1{
  font-family: 'Oooh Baby', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

body{
  background-color: #F4F4F2;
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather' , serif;
}

hr{
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  height: 0;
  border-color: grey;
  border-width: 7px;
  width: 5%;
}

p{
  margin: 0 auto;
}


.profile{
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading-space{
  margin-top: 100px;
  margin-bottom: 100px;
}

.skills{
  margin-top: 100px;
  margin-bottom: 150px;
}

.top-container{
  background-color: #EAF6F6;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin-top: 100px;
  margin-bottom: 100px;
}

.bottom-container{
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 40px;
}

.india{
  font-size: 1.25rem;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.pic1{
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}

.pic2{
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-cloud{
  position: absolute;
}

.top-cloud{
  position: absolute;
  right: 450px;
  top: 50px;
}

.contact-info{
  padding-top: 10px;
  color: #EAF6F6;
}

.btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: #1572A1;
  font-weight: normal;
}
